:root {
  --pink: #ffd0d0;
  --purple: #7159c1;
  --lighten-purple: #8d7acd;
  --black: #000;
  --white: #fff;
  --grey: #fafafa;
  --darken-grey: #333;
  --lighten-grey: #737373;
}

.aside {
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  background: var(--grey);
  height: 64px;
}

.aside span {
  color: var(--purple);
}

.main {
  display: flex;
  flex-direction: column;
}

.main section {
  position: relative;
  padding: 0 32px !important;
}

.cl-hero {
  height: 40vh;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--pink);
  border-bottom-left-radius: 30px;
}

.cl-hero h1 {
  font-size: 2.3em;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 24px;
}

.hero-form-group {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 446.66px;
}

.hero-form-group form,
.hero-form-group-fixed form {
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.hero-form-group input,
.hero-form-group-fixed input {
  height: 58px;
  width: 100%;
  padding: 16px !important;
  font-size: 1.3em;
  border: 1.6px solid var(--black);
  border-radius: 6px !important;
}

.hero-form-group label {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 28px;
  background: var(--white);
}

.hero-form-group::before {
  content: "";
  position: absolute;
  right: 30px;
  width: 8px;
  height: 100%;
  box-shadow: -3px 0 14px 0 var(--white);
}

.hero-form-group-fixed {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 74px;
  width: 100%;
  padding: 8px 32px;
  display: none;
  justify-content: center;
  align-items: center;
  background: var(--white);
  box-shadow: 0 2px 60px rgba(167, 167, 167, 0.2);
  animation: fixedHero 0.66s;
}

.hero-form-group-fixed span,
.hero-form-group-fixed span img {
  display: none;
  width: 100px;
  height: auto;
}

.hero-form-group-fixed input {
  background: rgba(167, 167, 167, 0.2);
  border: 0;
  height: 48px;
}

.show {
  display: flex;
}

.cl-hero button {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  background: none;
}

.cl-hero button i {
  font-size: 2.3em;
}

.title-card {
  margin: 78px 0 64px 0;
  padding: 0 32px !important;
  text-align: right;
}

.title-card h2 {
  margin-top: 12px;
  font-size: 1.88em;
  line-height: 1.25em;
}

.title-card::before {
  content: "";
  display: inline-flex;
  position: relative;
  height: 4px;
  width: 30%;
  background: var(--purple);
}

.cl-climate-card {
  display: grid;
  gap: 52px 0;
  margin-top: 36.68px;
  margin-bottom: 12vh;
}

.card-info {
  height: 216px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  border: 1.6px solid rgba(167, 167, 167, 0.5);
  border-radius: 6px;
}

.card-info > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-info {
  display: flex;
  flex-direction: column;
}

.detail-info strong,
.detail-info span {
  text-overflow: ellipsis;
}

.detail-info strong {
  font-size: 1.6em;
  line-height: 1.45em;
}

.detail-info span {
  font-size: 1.2em;
  color: var(--darken-grey);
  line-height: 1.36em;
}

.detail-info small {
  font-size: 1em;
  color: var(--purple);
}

.climate-temp strong {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.cl-project-content,
.cl-team-content {
  margin-bottom: 118px;
}

.project-info::before,
.team-info::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 4.6%;
  min-width: 86px;
  display: inline-flex;
  background: var(--purple);
}

.project-info h3,
.team-info h3 {
  font-size: 1.78em;
  padding: 18px 0;
}

.project-info p,
.project-info span {
  font-size: 1.3em;
  line-height: 1.66em;
  margin-bottom: 32px;
}

.project-info a {
  display: flex;
  align-items: center;
  color: var(--purple);
  margin-top: 18.86px;
  font-size: 1.1em;
}

.project-info a i {
  margin-left: 5.6px !important;
}

.climate-icon,
.project-hero-image,
.time-hero-image {
  display: none;
}

.time-hero-image img {
  position: relative;
  left: -96px !important;
}

.slider {
  display: flex;
  overflow: hidden;
  margin-top: 32.4px;
}

.card-contributor {
  min-width: 184px;
  width: 33%;
  height: 208px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1.6px solid rgba(167, 167, 167, 0.5);
}

.info-contributor {
  position: relative;
  height: 100%;
  padding: 12px 8.8px;
}

.contributor-avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: rgba(167, 167, 167, 0.5);
}

.contributor-detail,
.contributor-github {
  display: flex;
  flex-direction: column;
  padding: 18px 12px 12px 0;
}

.contributor-detail span,
.contributor-detail small {
  line-height: 1.25em;
  margin-bottom: 6px;
}

.contributor-detail span {
  font-weight: 500;
}

.contributor-detail small {
  color: var(--lighten-grey);
}

.contributor-github a {
  color: var(--purple);
}

.footer {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 32px;
  font-size: 1.3em;
  color: var(--white);
  background-color: var(--purple);
}

@media (min-width: 728px) {

  .aside {
    display: flex;
  }

  .cl-hero {
    height: 78vh;
    display: flex;
    align-items: center;
    background: url("../images/hero-background.png") no-repeat center center / cover;
    border-radius: 0;
  }

  .cl-hero h1 {
    position: relative;
    top: -72px;
    font-size: 3.5em;
    color: var(--white);
  }

  .cl-hero span {
    color: var(--black);
  }

  .cl-hero button {
    display: inline-block;
  }

  .title-card {
    text-align: center;
  }

  .title-card::before {
    width: 4.6%;
    right: 0;
  }

  .cl-climate-card {
    grid-template-columns: 1fr 1fr;
    gap: 18px;
  }

  .card-info {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
  }

  .card-info > div {
    align-items: flex-start;
    justify-content: space-between;
  }

  .card-info div + div {
    margin-top: 18.86px;
  }

  .climate-info {
    flex-direction: row !important;
    align-items: center;
  }

  .climate-icon {
    display: flex;
  }

  .climate-icon i {
    position: relative;
    top: -18px;
    font-size: 2.75em;
    color: var(--purple);
  }

  .hero-form-group-fixed {
    justify-content: space-between;
  }

  .hero-form-group-fixed span,
  .hero-form-group-fixed span img {
    display: flex;
  }
}

@media (min-width: 1128px) {

  .cl-climate-card {
    grid-template-columns: repeat(4, 1fr);
  }

  .cl-project-content,
  .cl-team-content {
    display: flex;
    justify-content: space-between;
  }

  .cl-project-content > div,
  .cl-team-content > div {
    width: 49%;
  }

  .project-hero-image,
  .time-hero-image {
    display: block;
  }
}

@media (min-width: 1326px) {

  .main section ~ section {
    width: 75%;
    margin: 0 auto 164px auto;
  }
}

@media (max-width: 414px) {

  body {
    font-size: 12px;
  }
}

@keyframes fixedHero {

  0% {
    transform: translateY(-83px);
  }

  100% {
    transform: translateY(0);
  }
}
